$sm: 576px;
$md: 768px;
$lg: 992px;
$xl: 1200px;

/* colors */

$dark-green: #10511B;

$primary: #31AA45;
$secondary: #f2b327;
$ternary: #f5f8f8;
$primaryBg: #e9f6ec;

$heading: #4d4d4d;
$text: #B3B3B3;
$white: #ffffff;
$black: #000000;
$shadow: rgba(0,0,0,0.2);

$formBg: #fafafa;
$formBorder: #d6d6d6;
$formPlaceholder: #cccccc;
$formEmbedLabel: #999999;